@import '../../style/variables.scss';

.input {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .wrapperInp {
        position: relative;
        width: 100%;
        max-width: 800px;

        .customInput {
            max-width: 800px;
            width: 100%;
            font-size: 18px;
            border-radius: 20px;
            padding: 10px 10px 10px 28px;
        }

        .search {
            cursor: pointer;
            position: absolute;
            right: 40px;
            top: 5px;
            width: 30px;
            height: 30px;
            padding: 1px;
            fill: $light-gray;
            transition: 0.25s all;

            &:hover {
                fill: $gray;
                transform: scale(1.2);
            }
        }

        .close {
            fill: $light-gray;
            width: 25px;
            height: 25px;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 7px;
            transition: 0.25s all;

            &:hover {
                fill: $gray;
                transform: scale(1.2);
            }
        }

    }
}

@media (max-width:747px) {
    .input {
        margin: 20px 0;
    }
}