@import '../../style/variables.scss';

.button {
    font-size: 18px;
    font-family: 'imprima', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid $green;
    color: $white;
    transition: 0.5s all;

    &:hover {
        color: black;
        background-color: $white;
        border: 2px solid transparent;
    }
}

@media (max-width:797px) {
    .button {
        font-size: 16px;
        padding: 8px 10px;
    }
}

@media (max-width:480px) {
    .button {
        font-size: 15px;
        padding: 6px 6px;
        text-transform: lowercase;
    }
}