@import '../../style/variables.scss';

.auth {
    padding: 20px;
    text-align: center;
    position: relative;

    .back {
        position: absolute;
        left: 14%;
        top: 8%;
        color: $white;
        background-color: transparent;
        font-size: 18px;
        font-weight: 400;
    }

    &__span {
        cursor: pointer;
        font-size: 15px;
        transition: 0.2s all;
        text-decoration: underline;
    }
}