@import '../../style/variables.scss';

.card__film {

    margin: 20px 0;
    color: black;

    .container {
        margin: 0 auto;
        max-width: 1180px;
        width: 100%;
        padding: 0 10px;
        overflow: hidden;
    }

    .card {
        padding: 10px 16px;
        border-radius: 10px;
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.3s all;

        &__info {
            display: flex;
            cursor: pointer;
            padding-right: 10px;

            .poster {
                img {
                    width: 90px;
                    height: 124px;
                }
            }

            .info {
                padding-left: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .title {
                    padding-top: 8px;
                    font-size: 22px;
                    margin-bottom: auto;
                }

                .aboutFilm {
                    line-height: 1.3;
                    font-size: 12px;
                    color: $gray;
                    margin-bottom: auto;
                }

                .trailer {
                    padding: 5px;
                    font-size: 16px;
                    border-radius: 10px;
                    transition: 0.3s all;
                    width: 210px;

                    .camera {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        background-color: $green;
                        transform: scale(1.1);
                    }

                }
            }
        }

        &__rating {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            flex-grow: 1;

            .rating__info {
                width: 100%;
                max-width: 220px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .rating__value {
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                    font-weight: 900;
                    color: gold;

                    svg {
                        margin-left: 4px;
                    }
                }

                .view {
                    color: $gray;
                    font-size: 14px;
                }

                .view_btn {
                    opacity: 0.8;
                    padding: 6px 9px;
                    border-radius: 10px;
                    font-size: 14px;
                    transition: 0.3s all;

                    &:hover {
                        transform: scale(1.1);
                        background-color: $green;
                    }
                }
            }

            .desc {
                width: 100%;
                max-width: 420px;
                text-align: right;
                margin-top: auto;
                font-size: 15px;
            }

        }

    }

}

@media (max-width:747px) {
    .card__film {
        margin: 16px 0;

        .container {
            .card {
                padding: 6px 10px;

                &__info {
                    padding-right: 5px;

                    .info {
                        padding-left: 10px;

                        .trailer {
                            font-size: 15px;
                            max-width: 150px;
                        }
                    }
                }

                &__rating {

                    .rating__info {
                        .view_btn {
                            padding: 5px 7px;
                            font-size: 13px;
                        }
                    }

                    .desc {
                        font-size: 12px;
                    }

                }

            }
        }

    }
}

@media (max-width:476px) {
    .card__film {

        .container {

            .card {
                background-color: $light-gray;
                flex-direction: column;
                align-items: center;

                &__info {
                    width: 100%;
                    max-width: 300px;
                    padding: 0;
                    justify-content: center;
                    margin-bottom: 14px;

                    .info {
                        .title {
                            color: $green;
                            font-weight: 700;
                        }

                        .aboutFilm {
                            color: $white;
                            font-size: 14px;
                        }
                    }
                }

                &__rating {
                    margin-top: 10px;
                    align-items: center;

                    .rating__info {
                        .view {
                            font-weight: 800;
                            font-size: 20px;
                            color: $green;
                        }
                    }

                    .desc {
                        font-size: 13px;
                        font-weight: 600;
                        color: $white;
                        margin-top: 8px;
                        text-align: center;
                    }

                }

            }
        }

    }
}