@import '../../style/variables.scss';

.company {
    background: black;
    padding-bottom: 50px;

    .container {
        margin: 0 auto;
        overflow: hidden;

        .title {
            text-align: center;
            text-transform: uppercase;
            font-size: 34px;
            color: $white;
            margin-bottom: 14px;
        }
    }
}

.list__company {
    display: flex;
    justify-content: center;
}