@import '../../style//variables.scss';

.title {
    text-align: center;
    font-size: 34px;
    color: $white;
    text-transform: uppercase;
    // margin-bottom: 28px;
    padding: 18px 0;
}

.top__films {
    overflow: auto;
    padding-bottom: 100px;

    .films {
        display: flex;
        justify-content: center;


    }



}