@import '../../style/variables.scss';

.list {
    &__actor {
        padding: 10px 0;
        transition: 0.2s all;

        a {
            color: #fff;
        }

        &:hover {
            a {
                color: $green;
            }
        }
    }
}

.more {
    padding: 5px 0;
    cursor: pointer;

    a {
        font-size: 12px;
        color: $light-gray;
        transition: 0.2s all;
    }

    &:hover {
        a {
            transform: scale(1.1);
            color: $green;
        }
    }
}