@import '../../style/variables.scss';


.fullscreen {
    margin-top: -104px;
    width: 100%;
    height: 100vh;
    background-image: url('https://imagetmdb.com/t/p/original/vRTKNKNWLZ22fAgPa5kY8wT2b1F.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__gradient {
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(11deg, rgba(0, 0, 0, 0.9136904761904762) 14%, rgba(45, 45, 57, 0.7848389355742297) 37%, rgba(142, 146, 146, 0.8240546218487395) 99%);
        position: relative;

        .fullscreen__info {
            position: absolute;
            top: 220px;
            left: 200px;
            max-width: 900px;
            text-shadow: -4px 4px 6px rgba(0, 0, 0, 0.71);

            .title {
                font-family: 'IM Fell French Canon', sans-serif;
                font-size: 30px;
                color: $green;
            }

            .subtitle {
                color: $white;
                line-height: 1.2;
                font-size: 62px;

                span {
                    color: $green;
                }

                margin-bottom: 15px;
            }

            .about_film {
                display: flex;
                align-items: center;
                margin-bottom: 45px;

                .type {
                    font-size: 15px;
                    padding: 6px 3px;
                    background-color: $white;
                    color: black;
                    margin-right: 20px;
                }

                .quality {
                    padding: 2px 5px;
                    color: $white;
                    background-color: transparent;
                    border: 1px solid $white;
                    margin-right: 18px;
                }

                .category {
                    font-size: 18px;
                    color: $white;
                    margin-right: 16px;
                }

                .data {
                    display: flex;

                    img {
                        width: 18px;
                        height: 18px;
                    }

                    span {
                        padding-left: 8px;
                        font-size: 18px;
                        color: $white;
                    }
                }
            }
        }

    }

}

@media (max-width:986px) {
    .fullscreen {
        &__gradient {
            .fullscreen__info {
                top: 150px;

                .subtitle {
                    font-size: 46px;
                }
            }
        }
    }
}

@media (max-width:870px) {
    .fullscreen {
        margin-top: -134px;

        &__gradient {
            .fullscreen__info {

                .title {
                    font-size: 27px;
                }

                .subtitle {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (max-width:797px) {
    .fullscreen {
        margin-top: 0;

        &__gradient {

            .fullscreen__info {
                top: 150px;
                left: 100px;

                .subtitle {
                    font-size: 40px;
                }

                .about_film {
                    margin-bottom: 20px;
                    flex-direction: column;
                    align-items: center;
                    font-size: 14px;

                    .type,
                    .category,
                    .quality {
                        margin: 0 0 10px 0;
                        font-size: 14px;
                    }

                }

            }
        }

    }
}