@import '../../../style/variables.scss';

.filters__item {
    padding: 11px 43px;
    background: $gray;
    font-size: 18px;
    color: $white;
    border-radius: 24px;
    margin: 0 11px;
    transition: 0.5s all;
    margin-bottom: 6px;

    &_active {
        background: $light-gray;
        color: $green;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: #fff;
        color: black;
    }
}