@import '../../../style/variables.scss';

.filters__item,
.filters__item_active {
    padding: 11px 43px;
    background: $gray;
    font-size: 18px;
    color: $white;
    border-radius: 24px;
    margin: 0 11px;
    transition: 0.5s all;
    margin-bottom: 6px;


    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: #fff;
        color: black;
    }
}

.filters__item_active {
    font-weight: 600;
    color: black;
    background: $green;

    &:hover {
        background-color: #fff;
        color: $gray;
    }
}

@media (max-width:427px) {
    .filters__item {
        margin: 0 0 8px 0;

        &:last-child {
            margin: 0;
        }
    }
}

@media (max-width:338px) {
    .filters__item {
        width: 100%;
        max-width: 200px;
        font-size: 16px;
        padding: 5px 23px;
        margin: 5px 0;

        &:last-child {
            margin: 5px 0 0 0;
        }
    }
}