@import '../../../style/variables.scss';

.item {
    cursor: pointer;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: $green;
    transition: 0.3s all;

    &:hover {
        background-color: $light-gray;
    }

    .poster {
        width: 60px;
        height: 86px;
    }

    .info__film {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .name {
            font-size: 23px;
            font-weight: 900;
        }

        .rating {
            font-size: 18px;
        }

    }

}