@import '../../../style/variables.scss';

.list {
    &__actor {
        width: 180px;
        padding: 10px 6px;
        transition: 0.2s all;
        color: #fff;

        &:hover {
            color: $green;
        }

        .forPosition {
            position: relative;
        }
    }
}