@import '../../style/variables.scss';

.category__films_item {
    cursor: pointer;
    margin-bottom: 16px;
    height: 100%;
    overflow: hidden;

    .item_film {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        opacity: 90%;
        transition: 0.3s all;
        height: 100%;

        .poster {
            width: 280px;
            height: 420px;
            overflow: hidden;
            margin-bottom: 30px;
        }

        &_info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .info {
                display: flex;
                justify-content: space-between;

                .film__name {
                    width: 100%;
                    max-width: 230px;
                    font-family: 'Electrolize', sans-serif;
                    font-size: 18px;
                    color: $white;
                }

                .film__date {
                    font-size: 18px;
                    color: $green;
                    text-transform: uppercase;
                    padding-right: 5px;
                }
            }

            .item__info {
                margin-top: auto;
                padding-bottom: 22px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                color: $white;

                .quality {
                    font-size: 14px;
                    padding: 2px 4px;
                    border: 1px solid $white;
                    margin-right: 135px;
                }

                .duration {
                    display: flex;

                    span {
                        font-size: 11px;

                        padding-right: 30px;
                    }
                }

                .rating {
                    padding-right: 5px;
                }
            }
        }

        &:hover {
            opacity: 100%;
            filter: contrast(140%);
        }
    }
}