@import '../../style/variables.scss';


.language__option {
    cursor: pointer;
    font-size: 18px;
    background-color: $white;
    color: black;
    padding: 7px 11px;
    font-weight: 900;
    border-radius: 10px;
    margin-bottom: 10px;

    // &:first-child {
    //     border-radius: 10px 10px 0 0;
    // }

    &:last-child {
        // border-radius: 0 0 10px 10px;
        margin-bottom: 0;
    }
}