@import '../../style/variables.scss';


.language__option {
    cursor: pointer;
    font-size: 18px;
    background-color: $white;
    color: black;
    padding: 4px 11px;
    margin-bottom: 12px;
    font-weight: 900;
    border-radius: 10px;
}