@import '../../style/variables.scss';

.category {
    background: url('../../assets/img/categoryImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;

    .text {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 18px;
            color: $green;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .subtitle {
            font-family: 'Homenaje', serif;
            font-size: 44px;
            color: $white;
            margin-bottom: 20px;
        }
    }
}

.category__films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

@media (max-width:850px) {
    .category {
        padding: 16px 0;

        .container {
            .category__info {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;

                .text {
                    text-align: center;
                    margin-bottom: 26px;
                }

                .filters {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-bottom: 16px;
                }

            }
        }

    }
}


@media (max-width:338px) {
    .category {

        .container {
            .category__info {

                .filters {
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                }

            }
        }

    }
}