@import '../../style/variables.scss';

.category {
    background: url('../../assets/img/categoryImage.png');
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.category__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
    margin-bottom: 44px;

    .text {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 18px;
            color: $green;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .subtitle {
            font-family: 'Homenaje', serif;
            font-size: 44px;
            color: $white;
        }
    }
}

.category__films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

.more {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: $white;
    transition: 0.3s all;

    &:hover {
        color: $green;
    }
}