@import '../../style/variables.scss';

.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 16px;

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        h1 {
            font-family: 'IM Fell French Canon', sans-serif;
            font-size: 29.17px;

            a {
                color: $white;
                transition: 0.3s all;

                &:hover {
                    color: $green;
                }
            }
        }
    }

    &__menu {

        .link {
            position: relative;
            font-size: 17px;
            color: $white;
            padding: 0 18px;
            transition: 0.3s all;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                font-weight: 700;
                color: $green;
            }

        }
    }

    &__modes {
        display: flex;
        align-items: center;
    }
}