@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Gurajada&family=Homenaje&family=IM+Fell+French+Canon&family=Imprima&display=swap');
@import './variables.scss';

body {
    font-family: 'imprima', sans-serif;
    overflow-x: hidden;
    color: $gray;
}