@import './reset.scss';
@import './variables.scss';
@import './fonts.scss';


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

// @media (hover:hover) {
//     *:hover {
//         background-color: #fff;
//     }
// }

// @media (hover:none) {
//     *:active {
//         background-color: #fff;
//     }
// }