@import '../../style//variables.scss';

.footer {
    padding: 20px 0;

    .container {
        margin: 0 auto;
        max-width: 1180px;
        width: 100%;
        padding: 0 10px;
        overflow: hidden;

        .navigate {

            .navigate__list {
                display: flex;
                justify-content: center;
                align-items: center;

                .link_menu {
                    cursor: pointer;
                    font-size: 20px;
                    color: $white;
                    padding: 0 25px;
                    transition: 0.5s all;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    &:hover {
                        color: $green;
                    }

                }

            }
        }
    }
}