.item__film {
    cursor: pointer;
    opacity: 90%;
    filter: blur(1px);
    transition: 0.3s all;

    img {
        width: 200px;
        height: 300px;
    }

    &:hover {
        opacity: 100%;
        filter: blur(0);
    }
}