@import '../../style/variables.scss';

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width:427px) {
    .filters {
        align-items: center;
        flex-direction: column;
    }
}