@import '../../style/variables.scss';

.filters {
    margin: 80px 0;

    .filters__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:747px) {
    .filters {
        margin: 0;

        .filters__item {
            flex-wrap: wrap;
        }

    }
}