.card__fullscreen {
    margin-top: -104px;
    width: 100vw;
    height: 100vh;
    background: url('https://imagetmdb.com/t/p/original/vRTKNKNWLZ22fAgPa5kY8wT2b1F.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .card__gradient {
        width: 100vw;
        height: 100vh;
        background: rgb(0, 0, 0);
        background: linear-gradient(11deg, rgba(0, 0, 0, 0.9136904761904762) 14%, rgba(45, 45, 57, 0.7848389355742297) 37%, rgba(142, 146, 146, 0.8240546218487395) 99%);
    }
}