.series {
    position: relative;

    .searchFilms {
        margin: 0 auto;
        background-color: #fff;
        width: 100%;
        max-width: 800px;
        height: 200px;
        overflow: auto;
        margin-top: -34px;
    }

    .genres {
        position: absolute;
        top: 0;
        left: 70px;
    }
}