@import '../../style/variables.scss';

.category__info {
    z-index: 100;
    margin-bottom: 44px;

    .text {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 18px;
            color: $green;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .subtitle {
            font-family: 'Homenaje', serif;
            font-size: 44px;
            color: $white;
            margin-bottom: 20px;
        }
    }
}