@import '../../style//variables.scss';

.section__film {
    color: $white;
    padding: 40px 0;

    .container {
        margin: 0 auto;
        max-width: 1180px;
        width: 100%;
        padding: 0 10px;
        overflow: hidden;

        .back {
            color: $white;
            background-color: transparent;
            font-size: 18px;
            font-weight: 400;
            margin: 70px 0;
        }

        .card {
            display: flex;
            margin-bottom: 150px;

            &__trailer {
                height: auto;
                width: 100%;
                max-width: 315px;
                cursor: pointer;
                margin-right: 80px;
                position: relative;
                transition: 0.3s all;

                &::after {
                    content: '';
                    width: 93px;
                    height: 93px;
                    border-radius: 100%;
                    border: 10px solid $white;
                    position: absolute;
                    top: 166px;
                    left: 111px;
                }

                &::before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    border-style: solid;
                    border-width: 26px 0 26px 34px;
                    border-color: transparent transparent transparent #FFFFFF;
                    transform: rotate(0deg);
                    position: absolute;
                    top: 186px;
                    left: 148px;
                }

                img {
                    max-width: 315px;
                    overflow: hidden;
                    border-radius: 16px;
                }

                &:hover {
                    transform: scale(1.1);
                    filter: contrast(130%);

                    &::before {
                        display: none;
                    }

                    &::after {
                        display: none;
                    }
                }
            }

            &__info {
                padding-top: 25px;
                display: flex;
                flex-direction: column;

                .movie__title {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Gurajada', sans-serif;
                    font-size: 50px;
                    color: $green;
                    letter-spacing: 8px;
                    margin-bottom: 10px;
                }

                .movie__subtitle {
                    font-family: 'Gurajada', sans-serif;
                    font-size: 35px;
                    letter-spacing: 5px;
                    margin-bottom: 15px;

                    span {
                        color: $green;
                    }
                }

                .about_film {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    .type {
                        font-size: 15px;
                        padding: 6px 3px;
                        background-color: $white;
                        color: black;
                        margin-right: 20px;
                    }

                    .quality {
                        padding: 2px 5px;
                        color: $white;
                        background-color: transparent;
                        border: 1px solid $white;
                        margin-right: 18px;
                    }

                    .category {
                        font-size: 18px;
                        color: $white;
                        margin-right: 16px;
                    }

                    .data {
                        display: flex;

                        img {
                            width: 18px;
                            height: 18px;
                        }

                        span {
                            padding-left: 8px;
                            font-size: 18px;
                            color: $white;
                        }
                    }
                }

                .movie__rating {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 35px;
                    background-color: rgba(23, 23, 23, 0.69);
                    max-width: 484px;
                    border-radius: 60px;
                    margin-bottom: 22px;

                    .send {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        &__text {
                            padding-top: 3px;
                            font-size: 14px;
                        }
                    }

                    .rating {
                        font-size: 30px;
                        position: relative;

                        &__title {
                            font-size: 20px;
                            margin-bottom: 5px;
                        }

                        .grade {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            .star {
                                padding-right: 10px;
                            }

                            label {
                                cursor: pointer;
                            }

                        }

                        .my_grade {
                            display: flex;
                            background-color: $light-gray;
                            padding: 12px 6px;
                            border-radius: 30px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            .star {
                                cursor: pointer;
                                padding: 2px;

                                &:hover {
                                    stroke: black;
                                    background-color: rgb(255, 255, 0);
                                    border-radius: 100%;
                                }

                            }

                        }

                    }

                }

                .card__info__text {
                    line-height: 1.4;
                    width: 100%;
                    max-width: 600px;
                    font-size: 16px;
                }

                &__text {
                    padding: 0 5px;
                    font-size: 24px;
                    max-width: 840px;
                    width: 100%;
                }

            }

        }
    }
}

@media (max-width:840px) {
    .section__film {
        padding: 20px 0;

        .container {
            .back {
                margin: 170px 0 20px 0;
            }

            .card {
                margin-bottom: 50px;

                &__trailer {
                    margin-right: 30px;
                }

                &__info {
                    padding-top: 0;

                    .movie__title {
                        font-size: 40px;
                    }

                    .movie__subtitle {
                        font-size: 30px;
                    }

                    .movie__rating {
                        max-width: 380px;
                        padding: 25px;
                    }

                    .card__info__text {
                        font-size: 14px;
                        padding: 0;
                    }
                }

            }
        }
    }
}

@media (max-width:747px) {
    .section__film {

        .container {


            .card {
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 40px;

                &__trailer {
                    margin: 0 0 20px 0;

                    img {
                        max-width: 280px;

                        &:hover {

                            &::before {
                                display: none;
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                &__info {
                    align-items: center;


                    .movie__title {
                        font-size: 30px;
                    }

                    .movie__subtitle {
                        font-size: 24px;
                    }

                    .about_film {

                        .type {
                            font-size: 14px;
                        }

                        .quality {
                            padding: 6px 3px;
                        }

                        .category {
                            font-size: 15px;
                        }

                        .data {
                            align-items: center;

                            span {
                                font-size: 15px;
                            }
                        }
                    }

                    .movie__rating {
                        flex-direction: column;
                        align-items: center;

                        .send {
                            margin-bottom: 16px;

                            &__text {
                                margin-top: 8px;
                            }
                        }

                        .rating {
                            margin-bottom: 18px;
                        }

                    }

                    .card__info__text {
                        font-size: 12px;
                    }
                }

            }
        }
    }
}