@import '../../style/variables.scss';

.popular {
    padding: 50px 0 100px 0;
    text-align: center;
    color: $white;

    .container {
        margin: 0 auto;
        max-width: 1180px;
        width: 100%;
        padding: 0 10px;
        overflow: hidden;

        .title {
            font-size: 34px;
            text-transform: uppercase;

            margin-bottom: 20px;
        }

        .popular__films {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 70px;
        }

        .text__info {
            font-size: 20px;
            line-height: 25px;
        }
    }
}