@import '../../style/variables.scss';

.popular {
    padding: 50px 0 100px 0;
    text-align: center;
    color: $white;

    .container {
        position: relative;
        margin: 0 auto;
        max-width: 1180px;
        width: 100%;
        padding: 0 10px;
        position: relative;

        .slider {
            display: flex;
            align-items: center;
            justify-content: center;

            .wrapper__arrow {
                display: flex;
                align-items: center;
                justify-content: center;

                .arrow {
                    padding: 5px;
                    background-color: $green;
                    border-radius: 100%;
                }
            }

            .popular__films {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .gradient__left {
            z-index: 10;
            position: absolute;
            left: 0;
            top: 70px;
            width: 100px;
            height: 350px;
            padding: 5px;
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 0) 100%);
        }

        .more {
            position: absolute;
            bottom: 140px;
            left: 50%;
            transform: translate(-50%);
            cursor: pointer;
            font-size: 20px;
            transition: 0.2s linear;
            padding: 2px;
            color: $white;
            padding-top: 40px;

            &:hover {
                color: $green;
            }
        }

        .gradient {
            z-index: 10;
            position: absolute;
            right: 0;
            top: 70px;
            width: 100px;
            height: 350px;
            padding: 5px;
            background: rgb(0, 0, 0);
            background: linear-gradient(270deg, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 0) 100%);
        }

        .text__info {
            margin-top: 70px;
            font-size: 20px;
            line-height: 25px;
        }
    }
}